<p>Now that you're familiar with the basic layout of the element, add something useful to its local DOM template.</p><p>Find the <code>&lt;span&gt;</code>&nbsp;below the &nbsp;<code>local DOM goes here</code>&nbsp;comment:</p><h3>icon-toggle.html—before</h3><pre>
  <code>
    &lt;!-- local DOM goes here --&gt;
    &lt;span>Not much here yet.&lt;/span&gt;
    &lt;/template&gt;
  </code>
</pre><p>&nbsp;Replace the <code>&lt;span&gt;</code>&nbsp;and its contents with the <code>&lt;iron-icon&gt;</code>&nbsp;tag&nbsp;below:</p><h3>icon-toggle.html—after</h3><pre>
  <code>
    &lt;!-- local DOM goes here --&gt;
    &lt;iron-icon icon="polymer"&gt;&lt;/iron-icon&gt;
    &lt;/template&gt;
  </code>
</pre><h3>Key information:</h3><ul><li>The <code>&lt;iron-icon&gt;</code>&nbsp;element is a custom element that renders an icon. Here it's hard-coded to use an icon named "polymer".</li></ul><h2>Style the local DOM</h2><p>There are a number of new CSS selectors to work with local DOM. The <code>icon-toggle.html</code> file already includes a <code>:host</code>&nbsp;selector, discussed earlier, to style the top-level <code>
    &lt;icon-toggle&gt;</code>&nbsp;element.</p><p>To style the <code>&lt;iron-icon&gt;</code>&nbsp;element, add the following CSS inside the <code>&lt;style&gt;</code>&nbsp;tag after the existing content:</p><h3>icon-toggle.html</h3><pre>
  <code>
    &lt;style&gt;
    /* local styles go here */
    :host {
      display: inline-block;
    }
    iron-icon {
      fill: rgba(0,0,0,0);
      stroke: currentcolor;
    }
    :host([pressed]) iron-icon {
      fill: currentcolor;
    }
    &lt;/style&gt;
  </code>
</pre><h3>Key information:</h3><ul><li>The <code>&lt;iron-icon&gt;</code>&nbsp;tag uses an SVG icon. The <code>fill</code>&nbsp;and <code>stroke</code>&nbsp;properties are SVG-specific CSS properties. They set the fill color and the outline color for the icon, respectively.</li><li>The <code>:host()</code>&nbsp;function matches the host element <em>if the selector inside the parentheses matches the host element</em>. In this case,<code>[pressed]</code>is a standard CSS attribute selector, so this rule matches when the <code>icon-toggle</code>&nbsp;has a <code>pressed</code>&nbsp;attribute set on it.</li></ul><p>Your custom element definition should now look like this:</p><h3>icon-toggle.html</h3><pre>
  <code>&lt;link rel="import" href="../polymer/polymer.html"&gt;
    &lt;link rel="import" href="../iron-icon/iron-icon.html"&gt;

    &lt;dom-module id="icon-toggle"&gt;

      &lt;template&gt;

        &lt;style&gt;
          /* local styles go here */
          :host {
           display: inline-block;
          }
          iron-icon {
            fill: rgba(0,0,0,0);
            stroke: currentcolor;
          }
          :host([pressed]) iron-icon {
            fill: currentcolor;
          }
        &lt;/style&gt;

        &lt;!-- local DOM goes here --&gt;
        &lt;iron-icon icon="polymer"&gt;&lt;/iron-icon&gt;
      &lt;/template&gt;

      &lt;script&gt;
        Polymer({
          is: 'icon-toggle'
        });
      &lt;/script&gt;

    &lt;/dom-module&gt;
  </code>
</pre><img src="../images/image-0.png" style="max-width: 150px"><p>You'll notice that one toggle is styled as pressed, because the <code>pressed</code>&nbsp;attribute is set in the demo. But click all you want, the button won't toggle yet; there's no code to change the <code>pressed</code>&nbsp;property.</p><aside class="special"><p><strong>If you don't see the new toggles</strong>, double-check your file against the code above. If you see a blank page, make sure you're clicking on the <code>demo</code>&nbsp;folder or on <code>demo/index.html</code>.</p></aside>