<p>You now have a button that's basically functional. But it's stuck using the existing text color for both pressed and unpressed states. What if you want to get a little flashier?</p><p>Local DOM helps prevent users from styling your element's internals by accident. Using custom properties, your element can expose a specific set of user-styleable properties.</p><p>You apply a custom property inside your element using the `var` function.</p><pre>
  <code>background-color: var(--my-custom-property, defaultValue);</code>
</pre><p>Where --<em>my-custom-property</em>&nbsp;is a custom property name, always starting with two dashes (<code>--</code>), and <em>defaultValue</em>&nbsp;is an (optional) CSS value that's used if the custom property isn't set.</p><p>Edit your element's <code>&lt;style&gt;</code>&nbsp;tag and replace the existing <code>fill</code>&nbsp;and <code>stroke</code>&nbsp;values with custom properties:</p><h3>icon-toggle.html</h3><pre>
  <code>&lt;style&gt;
    /* local styles go here */
    :host {
      display: inline-block;
    }
    iron-icon {
      fill: var(--icon-toggle-color, rgba(0,0,0,0));
      stroke: var(--icon-toggle-outline-color, currentcolor);
    }
    :host([pressed]) iron-icon {
      fill: var(--icon-toggle-pressed-color, currentcolor);
    }
    &lt;/style&gt;
  </code>
</pre><p>Because of the default values, you can still style the <code>&lt;icon-toggle&gt;</code>&nbsp;just by setting <code>color</code>, but now you have other options.&nbsp;Open up <code>demo/icon-toggle-demo.html</code> and set the new properties:</p><h3>icon-toggle-demo.html</h3><pre>
  <code>&lt;style&gt;
    :host {
      font-family: sans-serif;
      --icon-toggle-color: lightgrey;
      --icon-toggle-outline-color: black;
      --icon-toggle-pressed-color: red;
    };
    &lt;/style&gt;
  </code>
</pre><p>Run the demo again to get colorful.</p><h1>IMAGE HERE</h1>