<h3>What you'll learn</h3>
<ul class="checklist">
  <li>How to to build elements using Polymer 1.0.</li>
  <li>How to use elements in Polymer's iron, paper, and Google Web Component sets.</li>
  <li>How to use Polymer's data binding features to reduce boilerplate code.</li>
  <li>How to make your application working offline.</li>
</ul>

<h3>What you'll need</h3>
<ul>
  <li>Basic understanding of HTML, CSS, and web development.</li>
  <li>Install <a href="https://www.jetbrains.com/webstorm/" target="_blank">Webstorm</a> or use your own editor of choice.</li>
</ul>
