<p>While you’re free to use your own editor, this codelab will probably be easier to follow if you use the WebStorm IDE.
  If you don't have it installed yet, you can download from official website.</p>

<a href="https://www.jetbrains.com/webstorm/download/#section=windows-version" target="_blank">
  <paper-button raised class="colored">
    <iron-icon icon="file-download"></iron-icon>
    Download WebStorm
  </paper-button>
</a>

<p>After installing the WebStorm, use it to clone a Git repo (or just use the terminal).</p>

<aside class="special"><p><strong>What is Bower?</strong></p>
  <p><a target="_blank" href="http://bower.io/">Bower</a>&nbsp;is a client-side package management tool that you can use
    with any web app to take care of the hassles of dependency management. Every Polymer component defines its own set
    of dependencies. When you install a Polymer component using Bower, the component and its dependencies are installed
    under <code>bower_components/</code>.</p></aside>

<p><strong>Fetching the components may take some time if your internet connection is slow</strong>.</p>

<p>When the installation finishes, your project folder should look something like this:</p>
